
<footer class="site-footer">
  <div class="footer-links">
    <div class="container">
    <!-- 
      <a href="{{ "/contact/" | relLangURL }}">{{ i18n "footer_contact" }}</a>
      <a href="{{ "/privacy_policy/" | relLangURL }}">{{ i18n "footer_privacy" }}</a>
      <a href="{{ "/code/" | relLangURL }}">{{ i18n "footer_code" }}</a>
      <a href="{{ "/cooperative/" | relLangURL }}">{{ i18n "footer_coop" }}</a>
      -->
        <a class="nav-link" href="{{ "/privacy_policy/" | relLangURL }}">{{ i18n "nav_privacy policy" }}</a>
        <a class="nav-link" href="{{ "/open_source/" | relLangURL }}">{{ i18n "nav_open_source_policy" }}</a>
        <a class="nav-link" href="{{ "/tos/" | relLangURL }}">{{ i18n "nav_tos" }}</a>

    </div>
  </div>
</footer>

